.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;
}
.container {
  max-width: 1250px;
  font-size: 14px;
}
.menu {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row;
  color: #919294;
  line-height: 2.5em;
    padding: 3rem 0;
}
.att {    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;}
.def {    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;}