.heart {
  background-color: white;
  display: inline-block;
  transform: rotate(-45deg);
  position: absolute;
  left: 45%;
  top: 45%;
  animation: heartbeat 1s infinite;
}
.left {
  background-color: #ffc0cb;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 25px;
}
.right {
  background-color: #ffc0cb;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top: -25px;
}
.main {
  background-color: #ffc0cb;
  height: 50px;
  width: 50px;
}
@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.25) rotate(-45deg);
  }
  40% {
    transform: scale(1.5) rotate(-45deg);
  }
}
