.heart {
  background-color: white;
  display: inline-block;
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  animation: heartbeat 2s infinite;
}
.left {
  background-color: #ffc0cb;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 50px;
}
.right {
  background-color: #ffc0cb;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  top: -50px;
}
.main {
  background-color: #ffc0cb;
  height: 100px;
  width: 100px;
}
@keyframes heartbeat {
  20% {
    transform: scale(1) rotate(-45deg);
  }
  30% {
    transform: scale(2) rotate(-45deg);
  }
  40% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(2) rotate(-45deg);
  }
  60% {
    transform: scale(1) rotate(-45deg);
  }
}
