body {
  margin: 0;
}
img {max-width: 100%;}
.meta { display: flex;
  background-color: red;
  width: 350px;
  height: 500px;
  flex-direction: column;
}

.container {justify-content: flex-end;
  display: flex;
  box-sizing: border-box;
  gap: 15px;
  flex-flow: column wrap;
  
}
.container-display {
  width: calc((100%-30px) / 3);
  align-items: center;
  display: flex;
  justify-content: center;
}
