img { width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;}
.menu {  width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 20px;
    justify-content: center;
    margin: auto;}
img:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.5s;
      }
h1 { text-align: center;
background-color:cornsilk;
}